/* bulma - initial variables */
$orange:                  hsl(31, 100%, 50%);

/* bulma - derived variables */
$primary:                 hsl(31, 100%, 50%);
$family-primary:          ff-meta-serif-web-pro, serif;
$family-secondary:        montserrat, sans-serif;

/* bulma - generic variables */
$body-size:               18px;
$body-weight:             300;
$strong-weight:           700;

/* default styling */
@import '~bulma';

/* component styling */
@import './navbar';
@import './footer';

/* trump styling */
@import './elementor';

body:not(.home) { padding-top: 5rem; }

.site {
  .main {
    position: relative;
    min-height: 100vh;
  }
}
